.container
  = form_with(model: @profile, url: profile_path, method: 'put', local: true) do |f|
    %div
      = f.label :nickname, 'User Name'
    %div
      = f.text_field :nickname
    %div
      = f.label :introduction, 'Introduction'
    %div
      = f.text_area :introduction
    = f.submit 'Submit'