.container
  %h2.title-text
    New Card
  = form_with(model: @task, url: board_tasks_path(@task.board), local: true) do |f|
    %div.name-text
      = f.label :title, 'Name'
    %div
      = f.text_field :title, class: 'text'
    %div.name-text
      = f.label :content, 'Description'
    %div
      = f.text_area :content
    %div.name-text
      = f.label :limit ,'Limit'
    %div
      = f.date_field :limit, class: 'text'
    = f.submit 'Submit'