.container
  .task-title
    %h1
      = @task.title
    .dropdown
      = image_tag 'Combined Shape.png', class: 'dropbtn'
      .dropdown-content
        %p
          = link_to 'Edit', edit_board_task_path(board_id: @task.board_id, id: @task.id)
          = link_to 'Delete', board_task_path(board_id: @task.board_id, id: @task.id), data: {method: 'delete', confirm: '本当に削除してもよろしいですか？'}
  .card-task        
    - if @task.eyecatch.attached?
      .eyecatch-img
        = image_tag @task.eyecatch
  .card
    .card-flexbox
      %p
        = @task.content
  .show-comment
    %h3
      Comment
    - @comments.each do |comment|
      .flex-comment
        .comment-img
          = image_tag 'Oval.png'
        .comment-text
          %p= comment.content
  .new-card
    %p
      = link_to '+ Add new comment', new_board_task_comment_path(task_id: @task.id)