.container
  .task-title
    %h1
      = @task.title
    .dropdown
      = image_tag 'Combined Shape.png', class: 'dropbtn'
      .dropdown-content
        %p
          = link_to 'Edit', edit_board_task_path(@task)
          = link_to 'Delete', board_task_path(@task), data: {method: 'delete', confirm: '本当に削除してもよろしいですか？'}
  .card-task        
    - if @task.eyecatch.attached?
      .eyecatch-img
        = image_tag @task.eyecatch
  .card
    .card-flexbox
      %p
        = @task.content
    -# - if @task.user.present?
    -#   .user-info
    -#     = image_tag 'Oval2.png'
    -#     .display-name
    -#       %p= @task.user.display_name