.container
  %h2.title-text
    All Boards
  - @boards.each do |board|
    = link_to board_path(id: board.id) do
      .card
        %h3
          = board.title
        %p
          = board.content
        = image_tag 'Oval2.png'
  .new-card
    %p
      = link_to '+ Add new board', new_board_path