.container
  %h2.title-text
    All Boards
  - @boards.each do |board|
    = link_to board_path(id: board.id) do
      .card
        %h3
          = board.title
        %p
          = board.content
        - if board.user.present?
          .user-info
            = image_tag 'Oval2.png'
            .display-name
              %p= board.user.display_name
        .date-font
          %p= board.display_created_at
  .new-card
    %p
      = link_to '+ Add new board', new_board_path