.container
  .card
    .card-flexbox
      %h3
        = @board.title
      - if user_signed_in? && current_user.has_written?(@board)
        .dropdown
          = image_tag 'Combined Shape.png', class: 'dropbtn'
          .dropdown-content
            %p
              = link_to 'Edit', edit_board_path(@board)
              = link_to 'Delete', board_path(@board), data: {method: 'delete', confirm: '本当に削除してもよろしいですか？'}
    %p
      = @board.content
    - if @board.user.present?
      .user-info
        = image_tag 'Oval2.png'
        .display-name
          %p= @board.user.display_name
-# Tasks
%h1.title-text
  Tasks
- @tasks.each do |task|
  = link_to board_task_path(board_id: task.board, id: task.id) do
    .card
      - if task.eyecatch.attached?
        .eyecatch-img
          = image_tag task.eyecatch
      %h3= task.title
      %p= task.content
      .task-flexbox
        %p
          期限：
        %p= task.limit
      %p= task.user.email
= link_to 'New Tasks', new_board_task_path(@board)