
!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title TodoApplicationYuya
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %link{:crossorigin => "anonymous", :href => "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", :rel => "stylesheet"}/
  %body
    %header.header
      .header_logos
        %p.header_pageTitle
          = link_to 'Boards', root_path
      - if user_signed_in?
        .dropdown
          = image_tag 'Oval.png', class: 'dropbtn'
          .dropdown-content
            = link_to 'Log out', destroy_user_session_path, data: {method: 'delete'}
      - else 
        = link_to 'Log in', new_user_session_path
    - if flash.present?
      .flash
        - flash.each do |key, value|
          %div{:class => key}= value
    = yield
